# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Logs (Onde o caos reside)
data/*.txt
!data/.gitkeep

# Environments
.env
.venv
env/
venv/
.python-version

# Docker
.dockerignore